.aboutCard {
  height: 1195px;
  width: 730px;
  border-radius: 10px;
  background-color: white;
  margin: 0 auto 125px;
  padding: 47px;
  border: 1px solid hsl(0, 0%, 95%);
  border-radius: 8px;

  .cardTitle {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .boxForTexts {
    margin-bottom: 40px;
    .modalCardText {
      line-height: 1.87;
      color: hsl(0, 0%, 48%);
      margin-bottom: 30px;
    }
  }

  ////////////pledge card///////////
  .pledgeCard {
    margin-bottom: 22px;
    padding: 32px;
    border: 1px solid hsl(0, 1%, 86%);
    border-radius: 7px;

    .fbox1 {
      margin-bottom: 20px;
      h3 {
        font-size: 19px;
        font-weight: 700;
        letter-spacing: -0.02em;
      }
      p {
        font-size: 16px;
        letter-spacing: -0.04em;
        font-weight: 500;
        line-height: 1.9;
        color: var(--modCyan);
      }
    }
    .description {
      margin-bottom: 25px;
      line-height: 1.8;
      color: hsl(0, 0%, 48%);
    }
    .fbox2 {
      align-items: center;
      .fbox3 {
        p:first-child {
          margin-right: 8px;
          font-size: 32px;
          font-weight: 700;
          color: black;
        }
        p:last-child {
          padding-top: 2px;
          font-size: 15px;
          font-weight: 600;
          color: hsl(0, 0%, 61%);
        }
      }
    }

    button {
      display: inline-block;
      width: 157px;
      height: 48px;
      border-radius: 48px;
      padding: 0;
      border: none;
      outline: inherit;
      cursor: pointer;
      font-family: inherit;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.04em;
      text-decoration: none;
      background: var(--modCyan);
      color: white;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: var(--dCyan);
      }
    }
  }
  .outOfStock {
    border: 1px solid hsl(0, 1%, 92%);
    .fbox1 {
      h3 {
        color: hsl(0, 0%, 48%);
      }
      p {
        color: hsl(176, 40%, 77%);
      }
    }
    .description {
      color: hsl(0, 0%, 68%);
    }
    .fbox2 {
      .fbox3 {
        p:first-child {
          color: hsl(0, 0%, 48%);
        }
        p:last-child {
          color: hsl(0, 0%, 71%);
        }
      }
    }
    button {
      background: hsl(0, 0%, 78%);
    }
  }
  /////////////////////
}
