.hero {
  position: relative;
  height: 400px;
  background: url(/images/image-hero-desktop.jpg);
  .shadowLinear {
    position: absolute;
    height: 130px;
    width: 100%;
    background: linear-gradient(hsl(0, 0%, 0%, 60%), transparent);
  }
  .navbar {
    position: absolute;
    width: 100%;
    z-index: 10;
    padding: 48px 165px 0;
    .links {
      width: 225px;
      a {
        font-size: 13px;
        color: white;
        &:hover {
          text-decoration: underline hsl(0, 1%, 69%, 50%) 1px;
        }
      }
    }
    .hamburger {
      display: none;
    }
  }
}
