.mainModalDarkBgr {
  align-items: flex-start;
  overflow-y: scroll;
  padding-top: 120px;

  .mainModal {
    width: 327px;
    max-height: none;
    padding: 25px;
    margin-bottom: 120px;
    .fbox1 {
      h2 {
        font-size: 19px;
      }
      .closeModalIcon {
        top: 7px;
        right: 0px;
      }
    }
    .modalText {
      font-size: 14px;
      line-height: 1.7;
      margin-bottom: 25px;
    }
    .modalCard {
      &:has(input:checked) {
        .pledgeEnter {
          height: 140px;
          padding: 20px;
        }
      }
      .topBox {
        .desktopVersion {
          display: none;
        }
        .mobileVersion {
          display: flex;
          justify-content: start;
          margin-bottom: 25px;
        }

        .fbox2 {
          .radioBox {
            margin-bottom: 15px;
            .radio-label {
              font-size: 14px;

              span {
                margin-top: 5px;
                display: block;
                padding-left: 32px;
              }
            }
          }
        }
        .modalCardText {
          margin-left: 0;
          margin-bottom: 20px;
          line-height: 1.7;
          font-size: 14px;
        }
      }
      .pledgeEnter {
        flex-direction: column;
        justify-content: start;
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.thanksModaldarkBackgr {
  .thanksModal {
    width: 327px;
    height: 382px;
    padding: 0 20px;
    svg {
      height: 65px;
      margin-top: 30px;
      margin-bottom: 25px;
      path {
        stroke-width: 5;
      }
    }
    h3 {
      font-size: 19px;
      letter-spacing: -0.01em;
    }
    p {
      font-size: 14px;
    }
  }
}
