@media screen and (max-width: 765px) and (min-width: 651px) {
  .hero {
    .navbar {
      padding: 48px 115px 0;
    }
  }
  .monRiserCard {
    width: 600px;
  }
  .backedCard {
    width: 600px;
  }
  .aboutCard {
    height: auto;
    width: 600px;
  }
}
